<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">

    <div class="login-form">
        <form th:action="@{/login}" method="post">
            <label>Tên đăng nhập</label><br>
            <input type="text" name="username" ><br>

            <label>Mật khẩu</label><br>
            <input type="password" name="password"><br>

            <input type="submit" value="Đăng nhập">
        </form>
    </div>

    <div class="register-btn">
        <a href="register.html">
            <button>Đăng ký</button>
        </a>
    </div>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>